.root {
  border: none;
  outline: none;

  &:hover {
    background-color: var(--color-brand-50);
  }

  &[aria-checked='true'] {
    border: none;
    outline: none;
    background-color: var(--color-brand-50);
  }

  @mixin hover {
    @mixin light {
      background-color: var(--color-brand-50);
    }
  }
}
