@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: rgba(255, 255, 255, 0);

  /* Gray (light mode) */
  --color-gray-25: #fcfcfd;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #e4e7ec;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #182230;
  --color-gray-900: #101828;
  --color-gray-950: #6286d9;

  --color-gray-300-o-30: rgba(208, 213, 221, 0.3);

  /* Brand Colors */
  --color-brand-25: theme('colors.brand.25');
  --color-brand-50: theme('colors.brand.50');
  --color-brand-100: theme('colors.brand.100');
  --color-brand-200: theme('colors.brand.200');
  --color-brand-300: theme('colors.brand.300');
  --color-brand-400: theme('colors.brand.400');
  --color-brand-500: theme('colors.brand.500');
  --color-brand-600: theme('colors.brand.600');
  --color-brand-700: theme('colors.brand.700');
  --color-brand-800: theme('colors.brand.800');
  --color-brand-900: theme('colors.brand.900');
  --color-brand-950: theme('colors.brand.950');

  --color-brand-400-o-20: rgb(80, 187, 255, 0.16);
  --color-brand-500-o-30: rgb(40, 154, 255, 0.3);
  --color-brand-900-o-30: rgb(19, 71, 149, 0.3);
  --color-brand-900-o-90: rgb(19, 71, 149, 0.9);

  /* Error Colors */
  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
  --color-error-950: #55160c;

  /* Success Colors */
  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #dcfae6;
  --color-success-200: #abefc6;
  --color-success-300: #75e0a7;
  --color-success-400: #47cd89;
  --color-success-500: #17b26a;
  --color-success-600: #079455;
  --color-success-700: #067647;
  --color-success-800: #085d3a;
  --color-success-900: #074d31;
  --color-success-950: #053321;

  /* Warning Colors */
  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;
  --color-warning-950: #4e1d09;

  /* Font Sizes */
  --font-size-text-xs: 12px;
  --font-size-text-sm: 14px;
  --font-size-text-md: 16px;
  --font-size-text-lg: 18px;
  --font-size-text-xl: 20px;
  --font-size-display-xs: 24px;
  --font-size-display-sm: 30px;
  --font-size-display-md: 36px;
  --font-size-display-lg: 48px;
  --font-size-display-xl: 60px;
  --font-size-display-2xl: 72px;

  /* Line Heights */
  --line-height-text-xs: 18px;
  --line-height-text-sm: 20px;
  --line-height-text-md: 24px;
  --line-height-text-lg: 28px;
  --line-height-text-xl: 30px;
  --line-height-display-xs: 32px;
  --line-height-display-sm: 38px;
  --line-height-display-md: 44px;
  --line-height-display-lg: 60px;
  --line-height-display-xl: 72px;
  --line-height-display-2xl: 90px;

  /* Border Radius */
  --radius-none: 0px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --radius-full: 9999px;

  /* Shadows */
  --shadow-xs: rgba(16, 24, 40, 0.05);
  --shadow-sm-01: rgba(16, 24, 40, 0.1);
  --shadow-sm-02: rgba(16, 24, 40, 0.06);
  --shadow-md-01: rgba(16, 24, 40, 0.1);
  --shadow-md-02: rgba(16, 24, 40, 0.06);
  --shadow-lg-01: rgba(16, 24, 40, 0.08);
  --shadow-lg-02: rgba(16, 24, 40, 0.03);
  --shadow-xl-01: rgba(16, 24, 40, 0.08);
  --shadow-xl-02: rgba(16, 24, 40, 0.03);
  --shadow-2xl: rgba(16, 24, 40, 0.18);
  --shadow-3xl: rgba(16, 24, 40, 0.14);
  --shadow-skeumorphic-inner: rgba(16, 24, 40, 0.05);
  --shadow-skeumorphic-inner-border: rgba(16, 24, 40, 0.18);
}

@media (prefers-color-scheme: dark) {
  :root {
    --dashboard-background: #f9f9f9;
  }
}

html,
body {
  height: 100%; /* Ensure the height of the viewport is fully utilized */
}

* {
  scroll-behavior: smooth;
  outline: none;
  font-family: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  background: var(--color-gray-50);
  overflow-x: hidden;
  margin-right: 10px;
}

button:focus {
  outline: 2px solid var(--color-brand-500); /* Add custom outline for focusable elements */
  outline-offset: 2px; /* Optional: Adds space between outline and element */
}

.btn-base {
  @apply text-sm font-semibold text-gray-25 rounded-md py-2 px-4 active:scale-95 transition transform flex gap-2 items-center;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-gray-300);
  border-radius: 8px;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 142.1 76.2% 36.3%;
    --chart-3: 355.7 100% 54.7%;
    --chart-4: 47.9 95.8% 53.1%;
    --chart-5: 262.1 83.3% 57.8%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
